out
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
**/*.mp4
**/.mypy_cache/**
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/